.container {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 1rem;

   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 1rem;
   border: 2px solid var(--main);
   padding: 0.5rem 1rem;

   input {
      flex: 1;
      border: 0;
      background-color: transparent;
      outline: none;
      color: var(--white);

      &::placeholder {
         color: var(--white);
      }
   }

   @media (min-width: 768px) {
      width: 23rem;
   }
}
